<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.10.5-alpha.145.6" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.9.0-preview.27" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.0.0-preview.42" targetFramework="netnanoframework10" />
  <package id="nanoFramework.TestFramework" version="1.0.122" targetFramework="netnanoframework10" developmentDependency="true" />
</packages>